body{
  background-color:#d9beab ;
}

 a{
  text-decoration: none;
 color: black;
}
 .box input{
  border-radius: 5rem;
  padding: 1rem;
  width: 30vw;
  margin: 10px;
  z-index: 0;
  outline:none;
  border: none;
  font-size: 15px;
  background-color:#f0ded1;
  font-weight: bold;

}
.box input ::-ms-input-placeholder{
  color: black;
  font-size: large;
}

.box button {
  background-color: transparent;
  position: absolute;
  margin: 22px;
  margin-left: 25vw;
  outline: none;
  border: white;
}
 .naviSearch{
  background-color: #b58e72;
  height: 75px;
}
/* navbar */

.m{
  padding-left: 5rem;
}

label.logo {
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 80px;
  padding-left: 60px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  /*in straight line*/
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 20px;
  font-weight: bold;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
a.active,
a:hover {
    background: #a87048;
    transition: .5s;
}
nav {
  background: #cc9c7a;
  height: 110px;
  width: 100%;
}
/* endnav bar */
/* about us */
h1{
  padding-top: 20px;
  font-weight: 50px;
  font-size: 40px;
}
/* .thic{
  height: 100px;
} */
.cate a{
  background-color: #cc9c7a;
  font-size: 20px;
  font-weight: 500;
}
.quant{
  width: 10px;
}
/* ***************************************************************************** */
.bloc_left_price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}
.category_block li:hover {
  background-color: #007bff;
}
.category_block li:hover a {
  color: #ffffff;
}
.category_block li a {
  color: #343a40;
}
.add_to_cart_block .price {
  color: #c01508;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
  color: #343a40;
  text-align: center;
  text-decoration: line-through;
  font-size: 140%;
}
.product_rassurance {
  padding: 10px;
  margin-top: 15px;
  background: #ffffff;
  border: 1px solid #6c757d;
  color: #6c757d;
}
.product_rassurance .list-inline {
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
}
.product_rassurance .list-inline li:hover {
  color: #343a40;
}
.reviews_product .fa-star {
  color: gold;
}
.pagination {
  margin-top: 20px;
}
/* **************** */
.count{
  padding-top: 3rem;
  padding-left: 6rem;
}
.caat{
  cursor: pointer;
}
