.frame{
  height:500px;
  width: 700px;
  background-color: #cea181;
  margin-top:1px;
  padding: 2rem;
}
body{
  background-color: #E0B9A9;
  height: 100vh;
}
label{
  font-size: 20px;
  color: black;
}
h1{
  font-size: 30px;
  font-weight: bold;
  color: rgb(51, 50, 48);

}
