<nav>
  <label class="logo"><img src='./../../../assets/logof.png'></label>
 <ul>
     <li><a class="nav-link" (click)="home()"><span class="material-icons">
      home
      </span>Home
</a></li>
<li><a class="nav-link" ><span class="material-icons">
  sell
  </span>Products
</a></li>

     <li><a class="nav-link"><span class="material-icons">
      shopping_cart
      </span>Cart
</a></li>
     <li><a class="nav-link"   (click)="Logout()"><span class="material-icons">
      login
      </span>Logout</a></li>
 </ul>

</nav>
