.frame{
  height:350px;
  width: 600px;
  background-color: #cea181;
  margin-top:3rem;
  padding: 2rem;
}
body{
  background-color: #E0B9A9;
  height: 100vh;
}
.c{
  padding-top: 3rem;
}
h1{
  font-size: 30px;
  font-weight: bold;
  color: rgb(51, 50, 48);

}
label{
  font-size: 20px;
  color: black;
}
